#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40000L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "evpobr@gmail.com"
            VALUE "FileDescription", "C Library to work with Monkey's Audio format"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "ape.dll"
            VALUE "LegalCopyright", "evpobr <evpobr@gmail.com> (C) 2017"
            VALUE "OriginalFilename", "ape.dll"
            VALUE "ProductName", "ape"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
